<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classes</key>
	<dict>
		<key>SFArticlesViewController</key>
		<dict>
			<key>tableView:didSelectRowAtIndexPath:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>arg1</key>
								<string>arg:1</string>
								<key>arg2</key>
								<string>arg:2</string>
								<key>opcode</key>
								<string>getCell</string>
							</dict>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.mobileClick('article:@cv.title.text@');</string>
							</dict>
						</array>
						<key>doAfter</key>
						<true/>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>661</string>
						<key>useFI</key>
						<false/>
					</dict>
				</array>
			</dict>
		</dict>
		<key>SFGetOrganizedViewController</key>
		<dict>
			<key>emailChecklist:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.mobileClick('Email Checklist');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>666</string>
						<key>useFI</key>
						<false/>
					</dict>
				</array>
			</dict>
			<key>mailComposeController:didFinishWithResult:error:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.emailSent('Checklist');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>667</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>SFHomeViewController</key>
		<dict>
			<key>showTipAction:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.mobileClick('TipTap');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>662</string>
						<key>useFI</key>
						<false/>
					</dict>
				</array>
			</dict>
		</dict>
		<key>SFLabelsViewController</key>
		<dict>
			<key>emailLabelsButtonPressed</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.mobileClick('Email Labels');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>663</string>
						<key>useFI</key>
						<false/>
					</dict>
				</array>
			</dict>
			<key>mailComposeController:didFinishWithResult:error:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.emailSent('Labels');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>664</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>SFMovingInViewController</key>
		<dict>
			<key>emailButtonPressed</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.mobileClick('Email Inventory');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>666</string>
						<key>useFI</key>
						<false/>
					</dict>
				</array>
			</dict>
			<key>mailComposeController:didFinishWithResult:error:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.emailSent('Inventory');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>667</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>SFWebViewController</key>
		<dict>
			<key>webViewDidStartLoad:</key>
			<dict>
				<key>rules</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>opcode</key>
								<string>getInvTarget</string>
							</dict>
							<dict>
								<key>opcode</key>
								<string>callJSFunction</string>
								<key>value</key>
								<string>Bootstrapper.mobileLinkClick('@cv.targetUrl@');</string>
							</dict>
						</array>
						<key>enabled</key>
						<true/>
						<key>id</key>
						<string>665</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>freshness</key>
	<string>1</string>
	<key>methods</key>
	<dict>
		<key>viewDidAppear:</key>
		<dict>
			<key>rules</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>opcode</key>
							<string>callJSFunction</string>
							<key>value</key>
							<string>Bootstrapper.trackPageView(params.screenInfo.className);</string>
						</dict>
					</array>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>660</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>persistentStoreEnabled</key>
	<true/>
	<key>queueDepth</key>
	<integer>15</integer>
</dict>
</plist>
